<div class="user-card">
  <div class="card-header">
    <span class="user-id">ID: {{ user.id }}</span>
    <div class="avatar-circle">
      {{ user.name.charAt(0) }}
    </div>
  </div>
  
  <div class="card-body">
    <h3 class="user-name">{{ user.name }}</h3>
    <span class="user-username">@{{ user.username }}</span>
    
    <div class="divider"></div>
    
    <div class="info-line">
      <span class="icon">✉</span>
      <span class="text">{{ user.email }}</span>
    </div>
    
    <div class="info-line">
      <span class="icon">📞</span>
      <span class="text">{{ user.phone }}</span>
    </div>
  </div>
</div>